.dark {
  --md-sys-color-primary: rgb(255 181 158);
  --md-sys-color-surface-tint: rgb(255 181 158);
  --md-sys-color-on-primary: rgb(94 23 0);
  --md-sys-color-primary-container: rgb(224 113 77);
  --md-sys-color-on-primary-container: rgb(39 5 0);
  --md-sys-color-secondary: rgb(250 183 162);
  --md-sys-color-on-secondary: rgb(78 37 23);
  --md-sys-color-secondary-container: rgb(105 58 44);
  --md-sys-color-on-secondary-container: rgb(231 166 146);
  --md-sys-color-tertiary: rgb(220 199 82);
  --md-sys-color-on-tertiary: rgb(56 48 0);
  --md-sys-color-tertiary-container: rgb(191 172 57);
  --md-sys-color-on-tertiary-container: rgb(73 64 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(27 17 14);
  --md-sys-color-on-background: rgb(242 222 217);
  --md-sys-color-surface: rgb(27 17 14);
  --md-sys-color-on-surface: rgb(242 222 217);
  --md-sys-color-surface-variant: rgb(86 66 60);
  --md-sys-color-on-surface-variant: rgb(221 192 184);
  --md-sys-color-outline: rgb(165 139 132);
  --md-sys-color-outline-variant: rgb(86 66 60);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(242 222 217);
  --md-sys-color-inverse-on-surface: rgb(57 46 42);
  --md-sys-color-inverse-primary: rgb(159 64 33);
  --md-sys-color-primary-fixed: rgb(255 219 208);
  --md-sys-color-on-primary-fixed: rgb(58 11 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 158);
  --md-sys-color-on-primary-fixed-variant: rgb(128 42 11);
  --md-sys-color-secondary-fixed: rgb(255 219 208);
  --md-sys-color-on-secondary-fixed: rgb(52 16 5);
  --md-sys-color-secondary-fixed-dim: rgb(250 183 162);
  --md-sys-color-on-secondary-fixed-variant: rgb(105 58 44);
  --md-sys-color-tertiary-fixed: rgb(249 227 106);
  --md-sys-color-on-tertiary-fixed: rgb(33 28 0);
  --md-sys-color-tertiary-fixed-dim: rgb(219 199 82);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 71 0);
  --md-sys-color-surface-dim: rgb(27 17 14);
  --md-sys-color-surface-bright: rgb(67 54 51);
  --md-sys-color-surface-container-lowest: rgb(21 12 9);
  --md-sys-color-surface-container-low: rgb(35 25 22);
  --md-sys-color-surface-container: rgb(40 29 26);
  --md-sys-color-surface-container-high: rgb(51 39 36);
  --md-sys-color-surface-container-highest: rgb(62 50 47);
}

body.dark {
  --bg: rgb(27 17 14);
  --text: rgb(242 222 217);
  --accent: rgb(255 181 158);
}
